/* Settings Bar */
#top-settings-holder .fa-solid {
 font-size: unset;
}

/* Generic */
:root {
 --mes-right-spacing: 0;
 --avatar-base-width: 3rem;
 --avatar-base-height: var(--avatar-base-width);
}

#user-settings-block-content,
#persona-management-block,
#AdvancedFormatting > .flex-container.spaceEvenly,
#wiActivationSettings,
#wiSliders,
.range-block-range-and-counter {
 flex-direction: column;
}

#wiTopBlock {
 flex-direction: column-reverse;
}

select {
 appearance: button !important;
}

.popup {
 padding: 1rem;
}

.popup-controls {
 align-self: unset;
}

.popup-controls .menu_button {
 flex: 1;
}

#top-bar {
 box-shadow: unset;
}

#chat > [type="welcome_prompt"] {
 display: none;
}

#chat,
#chat > .welcomePanel,
#send_form {
 border: unset;
 border-radius: unset;
}

#chat > .welcomePanel > .welcomeRecent > .recentChatList {
 gap: unset;
}

#chat > .welcomePanel > .welcomeRecent > .recentChatList > .recentChat {
 padding: 1rem;
 border-radius: unset;
}

