#dialogue_del_mes {
 padding: 1rem;
 margin: 0;
	background-color: var(--SmartThemeBlurTintColor);
	backdrop-filter: blur(var(--SmartThemeBlurStrength));
 gap: 0.5rem;
 columns: 2;
}

#dialogue_del_mes > .menu_button {
 display: block;
 width: unset;
 padding: 0.5rem;
 margin: unset;
}

#nonQRFormItems {
 display: grid;
 grid-template-columns: auto 1fr auto;
 grid-template-rows: auto auto;
 grid-template-areas: "textarea textarea textarea" "left middle right";
 gap: 0.5rem;
 padding: 0.5rem;
 font-size: unset;
}

#nonQRFormItems .fa-solid {
 font-size: 1rem;
 padding: 0;
 text-shadow: none;
 justify-content: center;
 align-items: center;
 width: 2rem;
 aspect-ratio: 1;
}

#send_but {
 display: flex;
}

#nonQRFormItems > #send_textarea {
 grid-area: textarea;
}

#nonQRFormItems > #leftSendForm {
 grid-area: left;
 justify-self: start;
}

#whisker_persona_subject {
 display: flex;
 align-items: center;
 gap: 0.5rem;
 grid-area: middle;
 justify-self: center;
}

#whisker_persona_avatar > img {
 display: block;
 width: 2rem;
 height: 2rem;
 border-radius: 50%;
 object-fit: cover;
}

#nonQRFormItems > #rightSendForm {
 grid-area: right;
 justify-self: end;
 gap: 1rem;
 min-width: 36px;
}

#mes_stop,
#send_but {
 color: var(--SmartThemeBlurTintColor);
 background-color: var(--SmartThemeQuoteColor);
}

#form_sheld {
 margin: unset;
}