
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

input[type="number"] {
 -moz-appearance: textfield;
}

input[type="number"] {
 padding: 0.25rem;
 border: unset;
 border-radius: unset;
 background-color: var(--SmartThemeShadowColor);
}

.range-block-counter {
 margin: unset;
	font-size: unset;
}