.mes {
 border-radius: unset;
 border: unset;
 margin: unset;
 padding: 1rem;
}

.mes[is_user="true"] {
 background-color: var(--SmartThemeUserMesBlurTintColor);
}

.mes[is_user="false"] {
 background-color: var(--SmartThemeBotMesBlurTintColor);
 padding-bottom: 2rem;
}

.mes > .mesAvatarWrapper {
 padding-right: 1rem;
}

.mes_block {
 display: flex;
 flex-direction: column;
 gap: 0.25rem;
 padding: unset;
}

.mes_block .flex-container.alignItemsBaseline {
 gap: 0.5rem;
}

.mes_block .flex-container.alignItemsBaseline > .name_text {
 width: 100%;
}

details.mes_reasoning_details {
 background-color: var(--SmartThemeBlurTintColor);
 padding: 0.5rem;
}

.mes_reasoning_header_block {
 align-items: center;
}

.mes_reasoning_header {
 margin: unset;
 border-radius: unset;
 background-color: unset;
 padding: unset;
}

.mes_reasoning_header_title {
 opacity: 0.3;
}

.mes_reasoning_arrow {
 display: none;
}

.mes_reasoning_actions {
 margin: unset;
	margin-right: var(--mes-right-spacing);
}

.mes_reasoning {
 border: unset;
 padding: unset;
 margin-top: 0.5rem;
 font-size: 75%;
 line-height: 1.25;
}